 /* slider__wrap */
 .slider__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__text { /* 텍스트가 보이는 영역 */
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
}
.slider__inner { /* 텍스트가 움직이는 영역 */
    flex-wrap: wrap;
    width: 4000px;
    height: 450px;
}
.slider { /* 각 텍스트들.. */
    position: relative;
    width: 800px;
    height: 450px;
}